* {
  box-sizing: border-box;
}

html {
    font-size: 16px;
    padding: 0;
    margin: 0;
    
}

@font-face {
    font-family: 'Hangyaboly';
    src: url('./Hangyaboly.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #a7c5a9;
    font-family: 'poppins',sans-serif;
    
    
}

#navbar {
    background-color: #fab1a6;
    width: 100%;
      
}

#logo {
    height: 6rem;
    width: 6rem;
    padding: 10px;
    border-radius: .90rem;
}

/* add to tablet later */
#nav-options {
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 40px;
    align-items: center;
    font-family: 'hangyaboly',sans-serif;
    font-size: 1.6rem;
    display: none;
}

#hero-section {
    background-color: #faf5eb;   
    
}

#logo-text {
    display: block;  
    margin: 0 auto;   
    width: 40%;  
    padding: 20px 0 10px 0; 
}


h2 {
    font-size: 3.25rem;
    color: #69523d;
    font-family: 'hangyaboly', sans-serif;
    font-weight: 700;
    text-align: center;
} 

#subtitle {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.25rem;
    color: #8D6E63;
    font-family: "hangyaboly", sans-serif;
    font-weight: 500;
    

}


#shop {
    margin:25px;
}
#body-section {
    padding: 10px;
}

.product-name {
    font-size: 1.25rem;
    font-family: 'hangyaboly', sans-serif;
    font-weight: 600;
    color: #69523d;
    text-transform: uppercase;
    padding: 50px;
}

.product-image img {
    width: 100px;
    height: 100px;
}

/* copy and paste */

.container{
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #444;
}

.slider-wrapper .slide-button#prev-slide {
    left: -20px;
}

.slider-wrapper .slide-button#next-slide {
    right: -20px;
}

.slider-wrapper .image-list {
    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 30px;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    height: 2px;
    width: 100%;
    background-color: #ccc;
    position: relative;
    border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #000;
    border-radius: inherit;
    cursor: grab;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* #slide-1, #slide-2, #slide-3, #slide-4, #slide-5, #slide-6,
#slide-7,#slide-8, #slide-9, #slide-10, #slide-11, #slide-12 {
    
    width: 500px
} */
