html {
    font-size: 16px;
    padding: 0;
}

@font-face {
    font-family: 'Hangyaboly';
    src: url('./Hangyaboly.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #a7c5a9;
    font-family: 'poppins',sans-serif;
}

#navbar {
    /* height: 80px;    */
    padding: 8px;
    /* background-color: aquamarine; */
    display: flex;
    background-color: #fab1a6;
}

#logo {
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 8px;
}

#nav-options {
    display: flex;
    padding: 30px;
    gap: 40px;
    align-items: center;
    font-family: 'hangyaboly',sans-serif;
    font-size: 25px;
}

#hero-section {
    height: 320px;
    background-color: #faf5eb;
    align-items: center;
}

#logo-text {
    display: block;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    
}


h2 {
    font-size: 3.25rem;
    color: #69523d;
    font-family: 'hangyaboly', sans-serif;
    font-weight: 700;
    text-align: center;
} 

#subtitle {
    text-align: center;
    padding-top: 0;
    font-size: 1.5rem;
    color: #8D6E63;
    font-family: "hangyaboly", sans-serif;
    font-weight: 500;
}



#body-section {
    padding: 50px;
}

.product-name {
    font-size: 2rem;
    font-family: 'hangyaboly', sans-serif;
    font-weight: 500;
    color: #69523d;
    text-transform: uppercase;

}