html {
    font-size: 16px;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #a7c5a9;
    font-family: 'poppins',sans-serif;
}

#navbar {
    /* height: 80px;    */
    padding: 8px;
    /* background-color: aquamarine; */
    display: flex;
    background-color: #fab1a6;
}

#logo {
    height: 80px;
    width: 80px;
    margin: 10px;
    border-radius: 8px;
}

#nav-options {
    display: flex;
    padding: 30px;
    gap: 40px;
    align-items: center;
}

#hero-section {
    height: 320px;
    background-color: #faf5eb;
    align-items: center;
}

#logo-text {
    display: block;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    
}


h2 {
    font-size: 3rem;
    color: #69523d;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
} 

#subtitle {
    text-align: center;
    padding-top: 0;
    font-size: 1.25rem;
    color: #8D6E63;
    font-family: "poppins", sans-serif;
    font-weight: 500;
}

#shop {
    text-align: center;
}